init_config:

instances:
  # Main instance: metrics with gerald_gateway namespace
  - prometheus_url: "http://host.docker.internal:8080/metrics"
    namespace: "gerald_gateway"
    metrics:
      - "gerald_decision_total"
      - "gerald_credit_limit_bucket_total"
      - "bank_fetch_failures_total"
      - "webhook_latency_seconds"